@charset "UTF-8";

body {
    
        font-family: "Sevillana", cursive;
        font-weight: 400;
        font-style: normal;
        text-decoration: underline;
        text-decoration-color: red;
        font-size: 20px;
      
}

div > p{
    display: none;
    color: rgb(216, 19, 5);
    font-size: 30px;
    
}

div:hover > p{
    display: block;
    
    
}

div:hover {
    color: rgb(245, 145, 145);
    
}

h2{
    text-indent: 10px;
}
